body {
  background-image: url(http://image.tmdb.org/t/p/w1280/uX7LXnsC7bZJZjn048UCOwkPXWJ.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  margin: 0;
}

.header {
  background-color: rgb(49,192,237);
  color: white;
  height: 66px;
  box-shadow: 0 5px 3px 0 rgba(0,0,0,.2);
  position: fixed;
  width: 100%;
  margin-bottom: 100px;
  text-align: center; /*center*/
  top: 0;
}

.material-icons {
  color: white;
  margin: 21px;
  transform: scale(1.1);
  cursor: pointer;
  float: left;
}

body > div.header > input {
  font-size: 18px;
  background-color: rgba(255,255,255,.2);
  border-radius: 3px;
  border: none;
  width: 45%;
  height: 46px;
  cursor: text;
  padding-left: 30px;
  display: inline-block; /*center*/
  margin-top: 10px;
}

body > div.header > input::-webkit-input-placeholder {
  color: rgba(255,255,255,.7);
}

body > div.header > input:hover,
body > div.header > input:focus {
  background-color: rgba(255,255,255,.4);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.div_movies {
  text-align: center;
}

img {
  border-radius: 4px;
  display: inline-block;
  margin: 3px;
}

img:hover {
  cursor: pointer;
  box-shadow: 0 0 0 4px rgba(72,177,249,1);
}

.movie_description {
  width: 80%;
  height: 550px;
  margin: auto;
}

button#test {
  float: right;
  margin: 14px 12px 0 12px;
  transform: scale(1.15);
  color: white;
}

#header_title {
  float: left;
  width: 80px;
  font-size: 26px;
  margin-top: 15px;
}

#signup {
  margin: 300px 150px 20px 150px;
}
