<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Catalouge</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <!-- GOOGLE MATERIAL DESIGN API -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!--  -->
  </head>
  <body>
    <div class="header">
        <i class="material-icons">menu</i>
        <span id="movies_text">Movies</span>
        <div class="search_box">
          <i class="material-icons">search</i>
          <span id="search_icon">Search</span>
        </div>
        <!-- Raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Button
        </button>
        <!--  -->
    </div>
    <div class="div_movies">
      {% for movie in movies %}
        <!-- {{ movie.title }},
        Popularity: {{ movie.vote_average }}<br> -->
          <img class="movie_images" src="{{ img_path + img_size[1] + movie.poster_path }}">
      {% endfor %}
      {% for movie in movies %}
        <!-- {{ movie.title }},
        Popularity: {{ movie.vote_average }}<br> -->
          <img class="movie_images" src="{{ img_path + img_size[1] + movie.poster_path }}">
      {% endfor %}
    </div>
  </body>
</html>
