<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thank You</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <p style="text-align: center; margin: 20% auto 0 auto;">
      Thank You for Signing Up!
      <br>
      <a href="/popular">
        <button style="margin: 20px;" type="button" name="button" class="class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"">HOME</button>
      </a>
    </p>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>
</html>
